
hr.custom{
   width: 30%;
    color: red;
    border-width: 2px;
    border-color: orangered;
}

.logo{
    text-align: center;
    background: rgb(51, 51, 51);
    color: white;
    border-bottom: 1px solid silver;
}

.search_bar{
  height: 30px;
  background: black;
  color: white;    
}

.accueil{
    text-align: center;
}

.bloc{
    height: 30%;
    background: silver;
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
    margin-right: 30px;
    margin-left: 30px;
    
}

.firstblock{
    margin-top: 50px;
    margin-bottom: 50px;
}

.groupe-num-1, .groupe-num-ss1, .groupe-num-ss2{
    display: none;
}


